# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
.DS_Store

03.1 - Layout part 3  Navigation.pdf
03.2 - User Interaction.pdf
10.2 - Networking.pdf
11.2 - Camera & Media.pdf
12.1 - Maps & Place.pdf
TRANSFER_KNOWLEDGE.md

sc_demo/